.topicos{
    background: var(- --azul-degrade);
    text-align: center;
    padding:1em 0 ;
}

.topicos__titulo{
    color:var(- -branco);
    font-weight: 300;
    margin-bottom: ;
}
.topicos__ lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.topicos__item{
    margin:2em 0 
}